<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>New Password</title>
	<link rel="stylesheet" type="text/css" href="{% static "forgotpassword/StyleEnterPassword.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container">
        <div class="img">
			<img src="{% static "forgotpassword/background.png" %}">
		</div>
		<div class="login-content">
			<form method = "post" >
			{% csrf_token %}
				<img src='{% static "forgotpassword/avatar.png" %}' alt='img' />
				<h2 class="title">Reset Your Password</h2>		
						{{form}}
				</div>
				<a href="/login">Back to Login</a>
				<input type="submit" class="btn" value="Submit">
			</form>
		</div>
	</div>
	<script type="text/javascript" src={% static "forgotpassword/EnterPassword.js" %}"></script>
</body>

</html>