<!DOCTYPE html>
<html>

<head>
	<title>Email Sent</title>
	<link rel="stylesheet" type="text/css" href="../static/forgotpassword/forgotpassword.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% csrf_token %}
	<div class="container">
		<div class="img">
			<img src="../static/forgotpassword/background.png">
	</div>
    <p><h6>Email Sent<h6>
	<h5>The Email has been successfully sent to the email address.<h5>
    <p>
	<script type="text/javascript" src="../static/forgotpassword/forgotpassword.js"></script>
</body>

</html>