<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<STYLE>A {text-decoration: none;} </STYLE>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "index/navstyle.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>CU Market</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h4><a href="#">CU MARKETPLACE</a></h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/logout">Log Out</a>
            </li>
            <li>
                <a href="#">Contact us</a>
            </li>
            <li>
              <a href="#">About Us</a>
          </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <script src = "{% static "index/app.js" %}"></script>
  </body>
  </html>



<!---This will be below navigation bar-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "index/cardsstyle.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="cards-list">
        <div class="card 1">
         <div class="card_image"> <a href="/product_sell"> </a><img src="{% static "index/Shopping cart.png" %}" alt="Shopping Cart"/> </div>
          <div class="card_title title-white">
          <a href="/product_sell" style="color: black" class="card-link"><p>Buy</p></a>
          </div>
        </div>
          <div class="card 2">
          <div class="card_image"> </a><img src="{% static "index/sell image.png" %}" alt="Sell image" /> </div>
          <div class="card_title title-white" >
            <a href="/product_reg" style="color: black" class="card-link"><p>Sell</p></a>
          </div>
        </div>
       <!-- <div class="card 3">
          <div class="card_image">
          <img src="Exchange.png" />
          </div> 
          <div class="card_title">
            <p>Exchange</p>--->
          </div>
        </div>
        </div>
        </body>
    </html>
</body>
</html>
