<!DOCTYPE html>
<html>

<head>
	<title>Create Account</title>
	<link rel="stylesheet" type="text/css" href="../static/signup/stylecreateaccount.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container">
		<div class="img">
			<img src="../static/signup/sk.png">
		</div>
		<div class="login-content">
			<form method="post">
				{% csrf_token %}
				<img src="../static/signup/avatar.png">
				<h2 class="title">Create an Account</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>First Name</h5>
						{{form.first_name}}
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Last Name</h5>
						{{form.last_name}}
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>UID</h5>
						{{form.username}}
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-envelope"></i>
					</div>
					<div class="div">
						<h5>Email</h5>
						{{form.email}}
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Password</h5>
						{{form.password1}}
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5> Confirm Password</h5>
						{{form.password2}}
					</div>
				</div>
				{{form.errors}}
				<a href="/login">Already have an Account</a>
				<input type="submit" class="btn">
			</form>
		</div>
	</div>
	<script type="text/javascript" src="../static/signup/stylecreateaccount.js"></script>
</body>

</html>